@icon-size: 30px;
@thumbnail-height: 130px;
@ix-height: 21px;
@ix-padding-bottom: 3px;

body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    font-family: Arial
}

h3 {
    margin: 0;
    font-size: 12pt;
}

.doc-desc {
    font-style: italic;
    color: gray;
}

.ov {
    padding-top: 5px;
    overflow: hidden;

    .title {
        position: absolute;
        left: 8px;
        z-index: 2;
        margin-top: 8px;
        padding: 1px 6px;
        display: inline;
        background: white;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 10pt;
    }

    img {
        width: 100%;
    }
}

.ov-notfirst {
    page-break-before: always;
}

.pm-cols {
    overflow: hidden;

    .pm-col {
        width: 49.9999%;
        float: left;

        .pm {
            border: 1px solid #ccc;
            margin: 0 1px 2px 0;

            .icon {
                width: @icon-size;
            }
        }
    }
}

.pm {
    overflow: hidden;
    padding: 1px;
    page-break-inside: avoid;

    .title {
        color: black;
        font-weight: bold;
        font-size: 12pt;
    }

    .header {
        font-family: 'Calibri Light';
    }

    .map {
        max-height: @thumbnail-height;
        position: relative;
        vertical-align: top;
        left: -@icon-size;
        float: left;
        margin-right: (-@icon-size + 4px);
    }

    .ix {
        position: relative;
        float: left;
        top: (@thumbnail-height - @ix-height - @ix-padding-bottom);
        margin-left: -@icon-size;
        background: #4189b3;
        border-radius: 10px;
        padding: 1px 6px;
        color: white;
        font-family: 'Consolas'
    }

    .icon {
        position: relative;
        z-index: 5;
        float: left;
    }

    .pm-desc {
        font-size: 9.5pt;
    }

    .pm-xtra {
        font-size: 9pt;
        color: #444444;

        hr {
            margin: 5px 0;
            border: 0;
            border-top: 1px solid gray;
        }
    }

    .pm-img img {
        max-width: 170px;
        max-height: 120px;
        float: left;
        margin-right: 4px;
    }
}

.dir {
    .icon {
        width: 20px;
        padding-right: 2px;
    }
}

.coord {
    color: gray;
    font-size: 9pt;
    font-weight: bold;

    a {
        color: gray;
    }
}

@media print {
    /* TODO: Temporary solution while scaling in CEF v57 cannot be adjusted */
    .pm {
        zoom: 0.8;
    }
}
