<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net46" />
  <package id="Codaxy.WkHtmlToPdf" version="0.5.6" targetFramework="net46" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net46" />
  <package id="wkhtmltopdf-x86-win32" version="0.12.3.6" targetFramework="net46" />
</packages>